<div id="<%= dom_id url %>">
  <p>
    <strong>Long url:</strong>
    <%= url.long_url %>
  </p>

  <p>
    <strong>Short url:</strong>
    <%= link_to "#{ request.env['HTTP_HOST']}/#{url.short_url}", "/#{url.short_url}" %>
  </p>

</div>
