<p style="color: green"><%= notice %></p>

<h1>Url Shortening Service</h1>

<% if @urls.size > 1 %>
  <h2>URL's shortened so far:</h2>
<% end %>

<div id="urls">
  <% @urls.each do |url| %>
    <%= render url %>
    <p>
      <%= link_to "view more info on this URL", url %>
    </p>
  <% end %>
</div>

<%= link_to "New url to shorten", new_url_path %>
